{
    "Name": "eth-client",
    "GrpcPort": ":7722",
    "MultisigFactory":"0x116ffa11dd8829524767f561da5d33d3d170e17d",
    "EthConf" : {
    	"Address" :"0.0.0.0",
	    "RpcPort" :":8545",
	    "WsPort"  :":18545"
    },
    "NetworkID": 4,

    "Logs": {
        "Handlers": [
            {
                "Type": "stderr",
                "Level": "DEBUG"
            },
            {
                "Type": "file",
                "Level": "INFO",
                "Filename": "info.log"
            },
            {
                "Type": "file",
                "Level": "WARN",
                "Filename": "error.log"
            },
            {
                "Type": "file",
                "Level": "DEBUG",
                "Filename": "debug.log"
            }
        ],
        "CallerInfo": false,
        "Logpath": "logs"
    }
}
