{
    "Name": "eth-client",
    "GrpcPort": ":7722",
    "EthConf" : {
    	"Address" :"0.0.0.0",
	    "RpcPort" :":8645",
	    "WsPort"  :":8646"
    },

    "Logs": {
        "Handlers": [
            {
                "Type": "stderr",
                "Level": "DEBUG"
            },
            {
                "Type": "file",
                "Level": "INFO",
                "Filename": "info.log"
            },
            {
                "Type": "file",
                "Level": "WARN",
                "Filename": "error.log"
            },
            {
                "Type": "file",
                "Level": "DEBUG",
                "Filename": "debug.log"
            }
        ],
        "CallerInfo": false,
        "Logpath": "logs"
    }
}
