{
    "Name": "eth-client",
    "GrpcPort": ":7722",
    "MultisigFactory": "0x04f68589f53cfdf408025cd7cea8a40dbf488e49",
    "EthConf": {
        "Address": "://0.0.0.0",
        "RpcPort": ":18545",
        "WsPort": ":8545"
    },
    "NetworkID": 4,
    "AbiClientUrl": "https://rinkeby.infura.io",
    "PprofPort": ":8080",
    "EtherscanAPIURL": "http://etherscan.io/",
    "EtherscanAPIKey": "WD98A5XEP7XEEH2HX3IXSMRXPP9K3MUBTD",
    "Logs": {
        "Handlers": [
            {
                "Type": "stderr",
                "Level": "DEBUG"
            },
            {
                "Type": "file",
                "Level": "INFO",
                "Filename": "info.log"
            },
            {
                "Type": "file",
                "Level": "WARN",
                "Filename": "error.log"
            },
            {
                "Type": "file",
                "Level": "DEBUG",
                "Filename": "debug.log"
            }
        ],
        "CallerInfo": false,
        "Logpath": "logs"
    }
}